@tailwind base;
@tailwind components;
@tailwind utilities;

/* using 'Space Grotesk' font as default font for website */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  @apply font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #FEFFF0;
  font-weight: 500;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/src/assets/fonts/ClashDisplay-Medium.ttf') format('truetype'),
       url('/src/assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-style: normal;
}

